/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contenedor {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #141923;
}

.button, .button-no-border, .button-unfilled, .button-filled {
  text-transform: uppercase;
  margin: 10px;
  padding: 12px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.button-filled {
  background-color: #d08f52;
  border: none;
}

.button-unfilled {
  background-color: #0b0f18;
  color: #d08f52;
  border: 1px solid #d08f52;
}

.button-no-border {
  background-color: #0b0f18;
  color: #d08f52;
  border: none;
}

.button-shadow {
  box-shadow: 1px 20px 19px 8px #000000;
}

.imgrect, .img-rotate-right, .img-rotate-left {
  border-radius: 50px;
  border: 10px solid #7B5F46;
  box-shadow: 2px 7px 16px 0px rgba(0, 0, 0, 0.25), 8px 28px 29px 0px rgba(0, 0, 0, 0.21), 18px 64px 40px 0px rgba(0, 0, 0, 0.13), 32px 113px 47px 0px rgba(0, 0, 0, 0.04), 50px 177px 51px 0px rgba(0, 0, 0, 0);
  width: 75%;
  margin: auto;
}

.img-rotate-left {
  transform: rotate(-1.897deg);
}

.img-rotate-right {
  transform: rotate(1.897deg);
}

section {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

section h2 {
  font-family: "Hepta Slab", serif !important;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.dialog-container {
  border: solid 1px #7B5F46;
  background: #EFDFCF;
}

.mat-dialog-container .dialog-container {
  background: #EFDFCF;
  border: solid 1px #7B5F46;
}
