$background-color:rgba(11, 15,24, 1);

$main-color: white;

$container-color:rgba(20, 25, 35, 1);

$secondary-color:rgba(208, 143, 82, 1);

$unselected-color:#252B35;

$gold-light:#EFDFCF;

$component-color:#25282d;

$img-border-color:#7B5F46;

$title-font:'Hepta Slab', serif;

$primary-font: 'Hepta Slab', serif;

$rotate-angle:1.897deg;

$rotate-left: rotate(-$rotate-angle);

$rotate-right: rotate($rotate-angle); 

$box-shadow: 1px 20px 19px 8px #000000;