<section>
    <div class="row">
        <div class="col">
            <div class="col d-flex justify-content-center">

                <img class="img-rotate-right" src="assets/images/340f8fdc9f0b1dd7afca5cc7fa596e1c.jpeg" alt="">

            </div>
        </div>
        <div class="col">
            <form id="contact-form" [formGroup]="formulario" onsubmit="return false;">
                <label for="nombre" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="">
                <div *ngIf="nombre?.errors  && nombre?.touched && nombre?.hasError('required')">
                    <p class="error-message bg-danger ">
                        El nombre es requerido
                    </p>
                </div>

                <label for="apellido" class="col-form-label">Apellido:</label>
                <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="">
                <div *ngIf="apellido?.errors  && apellido?.touched && apellido?.hasError('required')">
                    <p class="error-message bg-danger ">
                        El apellido es requerido
                    </p>
                </div>

                <label for="telefono" class="col-form-label">Apellido:</label>
                <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="">
                <div *ngIf="telefono?.errors  && telefono?.touched && telefono?.hasError('required')">
                    <p class="error-message bg-danger ">
                        El telefono es requerido
                    </p>
                </div>

                <label for="email" class="col-form-label">E-mail:</label>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="">
                <div *ngIf="email?.errors  && email?.touched ">
                    <p *ngIf="email?.hasError('required')" class="error-message bg-danger ">
                        Se necesita un email
                    </p>
                    <p *ngIf="email?.hasError('email')" class="error-message bg-danger ">
                        Se necesita un email valido.
                    </p>
                </div>
                <label for="password" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="">
                <div *ngIf="password?.errors  && password?.touched && password?.hasError('required')">
                    <p class="error-message bg-danger ">
                        El el password es requerido
                    </p>
                </div>
                <button class="button-filled" type="submit" id="enviar" name="enviar" (click)="saveData()"
                    [disabled]="!formulario.valid">REGISTRARME</button>
            </form>
            <div>¿Ya tiene cuenta?
                <a (click)="doLogin()">Inicia Sesión</a>
            </div>
        </div>
    </div>
</section>