<section>
    <div class="row">
        <div class="col d-flex justify-content-center">

            <img class="img-rotate-right" src="assets/images/a4de35881823173631483572bb57f265.jpeg" alt="">

        </div>
        <div class="col">
            <h2>Inicie Sesión</h2>
            <form id="loginform" [formGroup]="loguinform" onsubmit="return false;">

                <label for="user" class="col-form-label">Usuario:</label>
                <input type="text" class="form-control" id="user" formControlName="user" placeholder="">

                <label for="password" class="col-form-label">Password:</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="">

                <button type="submit" class="button-filled" (click)="onEnviar($event)"
                    [disabled]="!loguinform.valid">INICIAR
                    SESIÓN</button>
            </form>
            <p>¿No tiene cuenta? <a (click)="doRegister()">Regístrese</a>
            </p>
        </div>
    </div>


</section>