<section class="black">
    <div class="row">
        <div class="col">
            <h2>¿QUIÉRES
                UN ESTILO
                ÚNICO?</h2>

            <p>Vení a descubrir la esencia de la elegancia en nuestra barbería de estilo clásico con toques modernos, un
                santuario
                donde tradición y contemporaneidad convergen con maestría.</p>

            <app-btn-turnos [texto]='textoTurnos' cssClass="button-unfilled"></app-btn-turnos>
        </div>
        <div class="col">
            <picture>
                <img class="" src="assets/images/101a3a63612a2c576ef5fe8d011e38b9.png" alt="">
            </picture>
        </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="col">
            <picture>
                <img class="img-rotate-left img-horizontal" src="assets/images/4666119645b5a542716dd5b130a18e96.jpeg"
                    alt="">
            </picture>
        </div>
        <div class="col">
            <h4>¿QUIÉN ME VA A ATENDER?</h4>
            <h2 id="nosotros">ANTONY BRAZ</h2>
            <p>Líder indiscutible en el arte de la barbería, Antony Braz
                fusiona la destreza clásica con la visión moderna. Su
                experiencia redefine la elegancia masculina en cada
                tijeretazo, creando un legado estilístico incomparable.</p>
            <app-icon-bar></app-icon-bar>
        </div>

    </div>


</section>
<section class="black">
    <h4>servicios</h4>
    <h2 id="servicio">LOS MEJORES SERVICIOS</h2>
    <div class="row">
        <div class="col">
            <div class="rounded-div">
                <img src="assets/images/corte.svg" alt="">
                <h4>CORTE</h4>
                Nuestro hábil barbero
                fusiona técnicas clásicas y
                modernas para crear
                cortes que se adaptan a tu
                estilo y resaltan tu
                individualidad. Crearemos
                para ti, un aspecto fresco y
                pulido en cada visita.
            </div>
        </div>
        <div class="col">
            <div class="rounded-div">
                <img src="assets/images/afeitado.svg" alt="">
                <h4>AFEITADO</h4>

                Aplicamos técnicas
                tradicionales con
                productos premium para
                ofrecerte un afeitado y un
                cuidado de barba
                excepcional. Disfruta de un
                tratamiento relajante que
                resalta tu masculinidad y
                eleva tu confianza.
            </div>
        </div>
        <div class="col">
            <div class="rounded-div">
                <img src="assets/images/color.png" alt="">
                <h4>COLOR</h4>

                Nuestro servicio de
                coloración será la
                expresión más audaz de tu
                estilo. Con asesoramiento
                personalizado, aplicamos
                técnicas modernas para
                realzar tu apariencia
                natural o explorar nuevas
                dimensiones
            </div>
        </div>
        <div class="col">
            <div class="rounded-div">
                <img src="assets/images/peinado.svg" alt="">
                <h4>PEINADO</h4>

                Desde loo k s clásicos hasta
                tendencias modernas,
                nuestro estilista experto
                crea peinados
                personalizados que
                re fl ejan tu individualidad
                con precisión y elegancia,
                y se adaptan a cualquier
                ocasión.
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <h2>SIEMPRE UN TURNO A TU
                DISPOSICIÓN</h2>

            Nuestra barbería se enorgullece de ofrecer una experiencia de
            servicio al cliente sin complicaciones. La disponibilidad de turnos
            es fl exible y conveniente. P uedes reservar fácilmente a través de
            nuestra aplicación, en línea el turno que necesitas.


            Descubre la comodidad de programar tu visita con nosotros y
            disfruta de un servicio excepcional en el momento que mejor se
            adapte a ti.
            <app-btn-turnos [texto]='textoTurnos' cssClass="button-unfilled"></app-btn-turnos>
        </div>
        <div class="col align-self-center">
            <picture>
                <img class="img-rotate-right img-vertical" src="assets/images/9e78b0a674cd1a1d322329d88157c461.jpeg"
                    alt="">
            </picture>
        </div>
    </div>

</section>
<section class="black ">
    <div class="row">
        <div class="col">
            <picture>
                <img class="" src="assets/images/52f1b72092a6c39d6c81f67d06a7771d.png" alt="">
            </picture>
        </div>
        <div class="col promo">
            <p class="hurriup">APÚRATE!</p>
            <p class="aprovecha">APROVECHÁ LA PROMOCIÓN</p>
            <p class="discount">Descuento 30%</p>
            <p class="nota">CON TU CORTE , RESERVÁ TU ARREGLO DE BARBA
                CONDESCUENTO!</p>



        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col">
            <h2 id="contacto">Contacto</h2>
            Utiliza nuestro formulario de contacto en línea para
            consultas. Comunicación directa, registro detallado y
            servicios personalizados. ¡H az de tu experiencia algo
            impecable desde el primer clic en nuestra página w eb !
        </div>
        <div class="col">
            <app-contact-form></app-contact-form>
        </div>
    </div>

</section>