<section>
    <div class="row">
        <div class="col">
            <h2>¿QUIÉRES
                UN ESTILO
                ÚNICO?</h2>

            <p>Vení a descubrir la esencia de la elegancia en nuestra barbería de estilo clásico con toques modernos, un
                santuario
                donde tradición y contemporaneidad convergen con maestría.</p>

            <app-btn-turnos [texto]='textoTurnos' cssClass="button-unfilled"></app-btn-turnos>
        </div>
        <div class="col">
            <picture>
                <img class="" src="assets/images/101a3a63612a2c576ef5fe8d011e38b9.png" alt="">
            </picture>
        </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="col">
            <picture>
                <img class="img-rotate-left" src=" assets/images/101a3a63612a2c576ef5fe8d011e38b9.png" alt="">
            </picture>
        </div>
        <div class="col">
            <p>¿QUIÉN ME VA A ATENDER?</p>
            <h2 id="nosotros">ANTONY BRAZ</h2>
            <p>Líder indiscutible en el arte de la barbería, Antony Braz
                fusiona la destreza clásica con la visión moderna. Su
                experiencia redefine la elegancia masculina en cada
                tijeretazo, creando un legado estilístico incomparable.</p>
        </div>

    </div>


</section>
<section>
    <h3 id="servicio">LOS MEJORES SERVICIOS</h3>
    <picture>
        <img class="imgrect" src="assets/images/101a3a63612a2c576ef5fe8d011e38b9.png" alt="">
    </picture>
</section>
<section>
    <h3 id="contacto">Contacto</h3>
    <app-contact-form></app-contact-form>
</section>