@import '../../../variables.scss';

img{
    width: 100%;
}

.rounded-div{
    background-color: $component-color;
    border-radius: 15px;
    text-align: center;
    img{
        max-width: 50%;
    }
}

