@import '../../../variables.scss';

img{
    width: 100%;
}

.rounded-div{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: $component-color;
    border-radius: 15px;
    text-align: center;
    min-height: 400px;

    padding: 10px;
    img{
        margin-top: 0.5rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 40%;
    }

    h4{
        font-family: $title-font !important;
        color:$main-color;
    }
}

.promo{
    text-align: right;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    .hurriup{
        color: $main-color;
        text-transform: uppercase;
        font-size: 1.5;
    }

    .aprovecha{
        text-transform: uppercase;
        font-size: 2rem;
    }

    .discount{
        font-weight: bolder;
        font-size: 3.5rem;
        color: $main-color;
    }

    .nota {
        text-transform: uppercase;

    }
}

