@import '../../../../variables.scss';

.not-selected{
    background-color: $unselected-color;
    color: $main-color;
}

.selected{
    background-color: $secondary-color;
    color: $background-color;
}

.horario-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Espaciado entre las horas */
}

.hora-container{
  padding-bottom: 15px;
}

.hora-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  font-weight: bolder;
  box-shadow: $box-shadow;

}