<button class="btn" (click)="cerrarDialog()">Volver</button>
<div>
    <div>
        <h3>{{data.user.nombre}} {{data.user.apellido}}</h3>
        <p>{{data.user.email}}</p>

    </div>
    <div>
        <button class="btn" (click)="cerrarSesion()">cerrar Sesion</button>
    </div>
</div>

<p>Mis turnos pendientes</p>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Servicio</th>
            <th>Acciones</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let t of data.user.turnos">
            <td>{{formatFecha(t.fecha)}}</td>
            <td>{{formatHora(t.hora)}}</td>
            <td>{{formatServices(t.serviceList)}}</td>
            <td>
                <button class="btn" (click)="borrar(t)">Borrar</button>
            </td>
        </tr>

    </tbody>
</table>