<div class="confirm-dialog-content">
    <h4>agendar turno</h4>
    <h3>resumen de Servicio</h3>
    <h4>Cliente</h4>
    <h2>{{ data.user.nombre }} {{data.user.apellido}}</h2>
    <h3>Servicio elegido</h3>
    <div>
        <div *ngFor="let s of data.turno.serviceList">
            {{s}}
        </div>
    </div>
    <h3>FECHA ELEGIDA</h3>
    <div>{{formatFecha(data.turno.fecha)}}</div>
    <div>{{formatHora(data.turno.hora)}}</div>
    <div class="row">
        <div class="col"><button class="button-unfilled" (click)="cerrarDialog()">Modificar</button></div>
        <div class="col"> <button class="button-filled" (click)="aceptarDialog()">Aceptar</button></div>
    </div>
</div>