<h1>GESTIÓN DE TURNOS</h1>
<div>
    <div class="row">
        <div class="col">
            <form id="buscar" [formGroup]="buscar" onsubmit="return false;">
                <input type="text" class="form-control" id="filtro" formControlName="filtro" placeholder="">
            </form>
        </div>
        <div class="col">Filtros:</div>
        <div class="col">Todos</div>
        <div class="col">listos</div>
        <div class="col">pendientes</div>
        <div class="col">...</div>
    </div>

</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Servicio</th>
                <th>Estado</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let turno of listaTurnos">
                <td>valor</td>
                <td>{{formatFecha(turno.fecha)}}</td>
                <td>{{formatHora(turno.hora)}}</td>
                <td>{{formatServices(turno.serviceList)}}</td>
                <td>
                    <button *ngIf="turno.estado" class="btn button-unfilled"
                        (click)="cambiarEstado(turno)">Listo</button>
                    <button *ngIf="!turno.estado" class="btn button-filled"
                        (click)="cambiarEstado(turno)">Pendiente</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>