.service-type{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin: auto;
}

.unselected{
    color: black;
}

.selected{
    background-color: black;
    color: aliceblue;
}