<div class="thanks-dialog-content">
    <h2>Gracias</h2>
    <h3>Su turno ha sido
        agendado</h3>

    <p>¡Gracias por elegirnos para cuidar tu
        estilo! Estamos emocionados de
        recibirte en nuestra barbería. Tu
        confianza nos impulsa, y estamos
        listos para brindarte una experiencia
        de cuidado personalizada. ¡Nos
        vemos en tu próximo turno para que
        disfrutes de nuestro servicio
        excepcional!</p>


    <button class="btn" (click)="cerrarDialog()">Volver</button>
</div>