@import '../../../../variables.scss';

.thanks-dialog-content{
    text-align: center;
     padding: 20px; 
     background-color: $gold-light;
}

.thanks-dialog-container {
  background-color: $gold-light;
   /* Ajusta el radio según tus preferencias */
}