<div>
    <div class="row">
        <div class="col"><app-servicio-tipo [campo]="'corte'" [src]="''" [text]="'Corte'"
                [turno]="turno"></app-servicio-tipo></div>
        <div class="col"><app-servicio-tipo [campo]="'afeitado'" [src]="''" [text]="'Afeitado'"
                [turno]="turno"></app-servicio-tipo></div>
        <div class="col"><app-servicio-tipo [campo]="'color'" [src]="''" [text]="'Color'"
                [turno]="turno"></app-servicio-tipo></div>
        <div class="col"><app-servicio-tipo [campo]="'peinado'" [src]="''" [text]="'Peinado'"
                [turno]="turno"></app-servicio-tipo></div>
    </div>

</div>
<div>
    <app-calendario [turno]="turno"></app-calendario>
</div>
<div><app-time-selector [turno]="turno"></app-time-selector></div>
<div>
    <button class="btn" (click)="atras()">Volver</button>
    <button class="btn" (click)="siguiente()">Continuar</button>
</div>