<section>
    <div class="justify-content-center">

        <div class="center">agendar turno</div>
        <div class="center">
            <h2>Elección de Servicio</h2>
        </div>
        <div class="row ">
            <div class="col"><app-servicio-tipo [campo]="'corte'" [src]="'assets/images/corte.svg'" [text]="'Corte'"
                    [turno]="turno"></app-servicio-tipo></div>
            <div class="col"><app-servicio-tipo [campo]="'afeitado'" [src]="'assets/images/afeitado.svg'"
                    [text]="'Afeitado'" [turno]="turno"></app-servicio-tipo></div>
            <div class="col"><app-servicio-tipo [campo]="'color'" [src]="'assets/images/color.png'" [text]="'Color'"
                    [turno]="turno"></app-servicio-tipo></div>
            <div class="col"><app-servicio-tipo [campo]="'peinado'" [src]="'assets/images/peinado.svg'"
                    [text]="'Peinado'" [turno]="turno"></app-servicio-tipo></div>
        </div>

    </div>
    <div>
        <div class="center">
            <h3>Selecciona el día</h3>
        </div>
        <app-calendario [turno]="turno"></app-calendario>
    </div>
    <div>
        <div class="center">
            <h3>Selecciona la hora</h3>
        </div>
        <app-time-selector [turno]="turno"></app-time-selector>
    </div>
    <div>
        <div class="buttons-dashboard">
            <button class="button-no-border button-shadow" (click)="atras()">Volver</button>
            <button class="button-filled button-shadow" (click)="siguiente()">Continuar</button>

        </div>

    </div>
</section>