<header>
    <div class="header-nav">
        <div class="row">
            <div class="col">
                <picture>
                    <img src="assets/images/braz 2.svg" alt="">
                </picture>
            </div>
            <div class="col">
                <nav class="listac">
                    <div class="links">
                        <app-link-bar></app-link-bar>
                    </div>
                    <div class="movi">
                        <app-btn-turnos [texto]='textoTurnos' [cssClass]="'button-unfilled'"></app-btn-turnos>
                        <app-customer-access></app-customer-access>
                    </div>
                </nav>
            </div>
        </div>

    </div>
</header>