.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #0b0f18;
  position: relative;
  color: white;
  font-family: "Hepta Slab", serif;
}

.header-nav picture img {
  width: 166px;
  height: 175px;
  margin-left: 90px;
  margin-top: 45px;
}

.listac {
  display: flex;
  justify-content: center;
  width: 925px;
  height: 56px;
  letter-spacing: 2.5px;
  align-items: center;
  margin-top: 71px;
  margin-right: 30px;
}

.movi {
  display: flex;
  justify-content: center;
  align-items: center;
}
